---
layout: default
prism: true
---

<!-- <picture class="block mb-8 w-full">
  
  <source
    srcset="{{ previewImgV }}"
    media="(max-width: 767px)"
  />
  
  <source
    srcset="{{ previewImgH }}"
    media="(min-width: 768px)"
  />
  
  <img
    src="{{ previewImgH }}"
    alt="{{ title }}"
    class="w-full"
    loading="lazy"
    decoding="async"
  />
</picture> -->

<img src="{{ previewImgV }}" alt="{{ title }}" class="w-full mb-8 block md:hidden" />  
<img src="{{ previewImgH }}" alt="{{ title }}" class="w-full md:visible hidden md:block" />
<div class="my-8 w-full px-6">  
  <section class="container mt-14">
    {{ content | safe }}
  </section>
  <section class="container grid-cols-1 grid md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="col-span-1 lg:col-span-2">
      <h1>{{ title }}</h1>
    </div>
    <div class="col-span-1"><p>{{description | safe }}</p></div>
    <div class="col-span-1">
      <p class="text-gray-500">
        <time> {{ date | readableDate }} </time>
      </p>
      <p class="text-gray-500">
        {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag |
        slugify }}/{% endset %}
        <a href="{{ tagUrl }}">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %} {%- endfor %}
      </p>
    </div>
  </section>
</div>
