---
layout: default
prism: true
---

<div class="mt-8 lg:mt-24 w-full px-6">
  <img src="{{ previewImg }}" alt="{{ title }}" class="w-full mb-8" />  
  <section class="container grid-cols-1 grid md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="col-span-1 lg:col-span-2">
      <h1>{{ title }}</h1>
    </div>
    <div class="col-span-1"><p>{{description | safe }}</p></div>
    <div class="col-span-1">
      <p class="text-gray-500">
        <time> {{ date | readableDate }} </time>
      </p>
      <p class="text-gray-500">
        {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag |
        slugify }}/{% endset %}
        <a href="{{ tagUrl }}">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %} {%- endfor %}
      </p>
    </div>
  </section>
  <section class="container mt-14">
    {{ content | safe }}
  </section>
</div>
