@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
/* Defaults */
:root {
  --font-family: "inter", helvetica, arial, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

/* Global stylesheet */
body {
  font-family: var(--font-family);
}

p {
  @apply text-base text-dark max-w-prose mx-auto py-2;
}
h1 {
  @apply lowercase text-3xl leading-tight text-dark;
}
h2 {
  @apply text-2xl leading-snug text-dark;
}  
h3 {
  @apply text-xl font-medium leading-snug text-olive;
}
h4 {
  @apply text-lg;
}
img {
  @apply block opacity-90 border rounded-lg;  
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
