<div
  class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 my-8"
  id="postsList"
>
  {%- for post in postslist %}
  <a href="{{ post.url }}">
    <img src="{{ post.data.previewImg | url }}" alt="{{ post.data.title }}" />
    <h4 class="my-2">
      {% if post.data.title %} {{ post.data.title }} {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
    </h4>
    <p class="text-xs">
      {% if post.data.description %} {{ post.data.description }} {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
      →
    </p>
  </a>
  {%- endfor %}
</section>
